@import "tailwindcss";
@plugin '@tailwindcss/typography';
@theme {
    --font-heading: "Clash Display", "sans-serif";
    --font-body: "Satoshi", "sans-serif";
    --text-xs: clamp(0.64rem, 0.11vi + 0.59rem, 0.7rem);
    --text-sm: clamp(0.8rem, 0.25vi + 0.7rem, 0.94rem);
    --text-base: clamp(1rem, 0.45vi + 0.82rem, 1.25rem);
    --text-lg: clamp(1.25rem, 0.74vi + 0.95rem, 1.67rem);
    --text-xl: clamp(1.56rem, 1.18vi + 1.09rem, 2.22rem);
    --text-2xl: clamp(1.95rem, 1.8vi + 1.23rem, 2.96rem);
    --text-3xl: clamp(2.44rem, 2.69vi + 1.37rem, 3.95rem);
    --text-4xl: clamp(3.05rem, 3.94vi + 1.47rem, 5.26rem);
    --text-5xl: clamp(3.81rem, 5.71vi + 1.53rem, 7.01rem);
    --text-6xl: clamp(4.77rem, 8.18vi + 1.5rem, 9.35rem);
    --text-7xl: clamp(5.96rem, 11.61vi + 1.32rem, 12.46rem);
    --text-8xl: clamp(7.45rem, 16.36vi + 0.91rem, 16.61rem);
    --text-9xl: clamp(9.31rem, 22.91vi + 0.15rem, 22.14rem);

    --color-cerise-50: oklch(97.1% 0.014 341.34);
    --color-cerise-100: oklch(95.069% 0.03457 340.4);
    --color-cerise-200: oklch(90.438% 0.07415 341.38);
    --color-cerise-300: oklch(83.107% 0.13972 344.16);
    --color-cerise-400: oklch(72.875% 0.2283 347.91);
    --color-cerise-500: oklch(66.944% 0.27387 352.45);
    --color-cerise-600: oklch(61.337% 0.2803 359.33);
    --color-cerise-700: oklch(54.143% 0.24599 2.7383);
    --color-cerise-800: oklch(46.707% 0.20673 1.961);
    --color-cerise-900: oklch(41.203% 0.16286 0.578);
    --color-cerise-950: oklch(28.4% 0.109 2.053);

    --color-carrot-50: oklch(98.672% 0.02189 91.741);
    --color-carrot-100: oklch(96.373% 0.05927 91.448);
    --color-carrot-200: oklch(92.729% 0.12053 91.656);
    --color-carrot-300: oklch(88.36% 0.16966 87.655);
    --color-carrot-400: oklch(83.619% 0.19056 79.8);
    --color-carrot-500: oklch(77.924% 0.18995 65.451);
    --color-carrot-600: oklch(67.419% 0.18056 53.689);
    --color-carrot-700: oklch(56.114% 0.16417 44.369);
    --color-carrot-800: oklch(47.71% 0.13778 41.572);
    --color-carrot-900: oklch(41.605% 0.11239 41.275);
    --color-carrot-950: oklch(27.9% 0.077 41.006);

    --color-aquamarine-50: oklch(98.4% 0.014 177.22);
    --color-aquamarine-100: oklch(96.59% 0.05436 180.48);
    --color-aquamarine-200: oklch(93.704% 0.10476 179.84);
    --color-aquamarine-300: oklch(90.774% 0.16064 178.24);
    --color-aquamarine-400: oklch(82.535% 0.1734 178.41);
    --color-aquamarine-500: oklch(74.429% 0.15784 179);
    --color-aquamarine-600: oklch(63.223% 0.13227 181.2);
    --color-aquamarine-700: oklch(53.518% 0.1067 182.89);
    --color-aquamarine-800: oklch(45.312% 0.08513 184.72);
    --color-aquamarine-900: oklch(39.406% 0.06657 184.92);
    --color-aquamarine-950: oklch(27.7% 0.046 189.02);
}
/* Clash Display Font */
@font-face {
	font-family: 'Clash Display';
	src:  url('/fonts/ClashDisplay-Variable.woff2') format('woff2'),
        url('/fonts/ClashDisplay-Variable.woff') format('woff'),
        url('/fonts/ClashDisplay-Variable.ttf') format('truetype');
    font-weight: 200 700;
    font-style: normal;
    font-display: swap;
}
/* Satoshi Font */
@font-face {
	font-family: 'Satoshi';
	src:  url('/fonts/Satoshi-Variable.woff2') format('woff2'),
        url('/fonts/Satoshi-Variable.woff') format('woff'),
        url('/fonts/Satoshi-Variable.ttf') format('truetype');
    font-weight: 300 900;
    font-style: normal;
    font-display: swap;
}
/* Satoshi Font - Italic */
@font-face {
	font-family: 'Satoshi';
	src:  url('/fonts/Satoshi-VariableItalic.woff2') format('woff2'),
        url('/fonts/Satoshi-VariableItalic.woff') format('woff'),
        url('/fonts/Satoshi-VariableItalic.ttf') format('truetype');
    font-weight: 300 900;
    font-style: italic;
    font-display: swap;
}