---
const { pageTitle } = Astro.props;
---
<section class="@container bg-zinc-100 dark:bg-zinc-900">
    <div class="mx-auto my-4 px-4 container">
        <h1 class="font-heading font-semibold text-xl">{pageTitle}</h1>
    </div>
</section>